/* custom fonts definition */
@font-face {
    font-family: HanSansLight;
    src: url("/fonts/SourceHanSansTW-ExtraLight.otf");
}
@font-face {
    font-family: HanSansLight;
    src: url("/fonts/SourceHanSansTW-bold.otf");
    font-weight:bold;
}

@font-face {
    font-family: HanSans;
    src: url("/fonts/SourceHanSansTW-Normal.otf");
}
@font-face {
    font-family: HanSans;
    src: url("/fonts/SourceHanSansTW-bold.otf");
    font-weight:bold;
}              

#hide-content { width: 100%;
                min-height:550px;/*max-height:700px;*/
                background-image: url('/images/main.jpg');
                background-repeat: no-repeat;
                background-position: left top;
              }

@media screen and (min-width: 1280px) {
  h1,h2 {font-family: HanSans, Lucida Grande, sans-serif;} 
  h3,h4 {font-family: HanSansLight, Lucida Grande, sans-serif;}		/* apply custom fonts only when in desktop browsing */
}

@media screen and (min-width: 961px) {
  #hide-content { display: block;
                  background-size: cover;}   /* show it elsewhere */
}

@media screen and (min-width: 501px) and (max-width: 960px) {
  #hide-content { display: block;
                  background-size: contain;}   /* show it elsewhere */
}              
              
@media screen and (min-width: 0px) and (max-width: 500px) {
  #hide-content { display: none; }   /* hide it elsewhere */
}

/* clearfix hack, apply "group" to parent container to let it clearfix its child (clear: both) automatically */
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
